@import "src/style.scss";

.login-container {
  text-align: center;
}

.social-container {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  .btn-anony {
    background-color: $color-gray-2;
    &:hover {
      background-color: $color-gray-5;
    }
  }
  .btn-google {
    color: $color-text-1;
    background-color: $color-google;
    &:hover {
      background-color: $color-gray-1;
    }
  }
  .btn-facebook {
    background-color: $color-facebook;
    &:hover {
      background-color: $color-gradient-2;
    }
  }
}
