@import "src/style.scss";

.not_found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: $color-text-1;
  .error_code {
    font-size: 10rem;
  }
  .desc {
    font-size: 2rem;
  }
}
