@import "src/style.scss";

.room_box {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  .room_info {
    display: flex;
    flex-direction: row;
    align-items: center stretch;
    flex-wrap: wrap;
    .room_name {
      color: $color-gray-4;
      text-align: center;
      flex: 1 1;
      border-right: 1px solid $color-gray-4;
    }
    .room_creator {
      display: flex;
      justify-content: center;
      flex: 1 1;
      border-right: 1px solid $color-gray-4;
      span,
      .anony {
        color: $color-gray-4;
      }
      .creator_icon {
        margin-left: 4px;
        width: 24px;
        height: 24px;
      }
      img {
        border-radius: 50%;
      }
    }
    .room_time {
      color: $color-gray-4;
      text-align: center;
      flex: 1 1;
    }
    .info_item {
      padding: 4px 8px;
    }
  }
}
