@import "src/style.scss";

.wrapup-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .run-icon {
    position: relative;
    width: 64px;
    height: 64px;
    bottom: -19px;
  }
  .timeline {
    width: 75%;
    padding-top: 16px;
    padding-bottom: 16px;
    border-left: 4px solid black;
    border-right: 4px solid black;
    .line {
      height: 4px;
      background-color: black;
    }
  }
  .time-info {
    margin-top: 8px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .duration {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 48px;
    font-weight: bold;
  }
  .btn_export_csv {
    margin-bottom: 8px;
    border: none;
    background-color: inherit;
    padding: 6px 8px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    color: #1976d2;
    &:hover {
      background-color: #f6fafd;
      border-radius: 4px;
    }
  }
}
