@import "src/style.scss";

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  .icon {
    width: 128px;
    height: 128px;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
