@import "src/style.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

header {
  z-index: 50;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: saturate(200%) blur(10px);
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    cursor: pointer;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 2rem;
  }
  .user_info {
    display: flex;
    align-items: center;
    img {
      cursor: pointer;
      margin-left: 8px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
  }
  .anony {
    cursor: pointer;
    width: 32px;
    height: 32px;
  }
}
