@import "src/style.scss";

.card {
  &:hover {
    background-color: $color-gray-1;
  }
  .create_time {
    color: $color-text-2;
    font-size: 0.625rem;
  }
  .room_name {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 48px;
  }
  .creator_info {
    display: flex;
    align-items: center;
    .anony {
      margin-left: 8px;
      width: 24px;
      height: 24px;
    }
    img {
      margin-left: 8px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
    }
    .room_delete {
      padding: 0;
      z-index: 10;
      margin-left: 8px;
    }
  }
}
