$color-primary: #3700b3;
$color-purple: #bf0090;
$color-red: #fa0066;
$color-orange: #ff6e45;
$color-light-orange: #ffb840;
$color-yellow: #f9f871;
$color-skyblue: #eff6ff;

$color-gradient-1: #3700b3;
$color-gradient-2: #0053ec;
$color-gradient-3: #007eff;
$color-gradient-4: #00a2ff;
$color-gradient-5: #00c2e1;
$color-gradient-6: #00dfb8;

$color-text-1: #595959;
$color-text-2: #808080;

$color-gray-1: #ebecf0;
$color-gray-2: #d3d3d3;
$color-gray-3: #bebebe;
$color-gray-4: #949494;
$color-gray-5: #808080;

$color-google: #ffffff;
$color-facebook: #3b5998;
