$color-primary: #3700b3;

$color-text-1: #595959;
$color-text-2: #808080;

$color-gray-1: #ebecf0;
$color-gray-2: #d3d3d3;
$color-gray-3: #bebebe;
$color-gray-4: #949494;
$color-gray-5: #808080;

$color-google: #ffffff;
$color-facebook: #3b5998;
